<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
</head>
<body>
    <a href ={% url 'addblog' %}>Add Blog</a><br>
    <a href ={% url 'seeblogs' %}>All Blog</a><br>
    <a href ={% url 'seebyid' %}>Blog By ID</a><br>
    <a href ={% url 'deletebyid' %}>Delete Blog by ID</a><br>
    <a href ={% url 'update' %}>update Blog</a><br>
    <a href ={% url 'addcomment' %}>addcomment on  Blog</a><br>
    <a href ={% url 'seecomment' %}>see comment on Blog</a><br>
</body>
</html>